@import './navbar.css';
@import './streaming.css';
@import './mypage.css';
@import './auction.css';
@import './marketplace.css';
@import './myArtist.css';
@import './mysubinfo.css';

html,
body {
  background-color: #0d0f1a;
  margin: 0;
}

rect[fill] {
  fill: transparent;
  color: #000;
  background-color: #000;
}

/* 
body {
  mix-blend-mode: luminosity;
}

body:hover {
  mix-blend-mode: normal;
} */

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  color: #dada;
}

.css-1y7coo4-MuiButtonBase-root-MuiPaginationItem-root {
  color: rgb(66 97 139 / 87%);
}

.css-wjh20t-MuiPagination-ul {
  margin-top: 25px;
  justify-content: center;
}

.auctionBlur {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  position: fixed;
  display: flex;
  z-index: 5;
  width: 85%;
  height: 70%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  display: flex;
}

.auctionBlurAni {
  width: 300px;
  height: 300px;
}
.uploadBlur {
  background-color: rgba(70, 70, 70, 0.95);
  border-radius: 30px;
  margin-top: -40px;
  position: fixed;
  display: flex;
  z-index: 5;
  width: 85%;
  height: 80%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.svgContainer {
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.css-187mznn-MuiSlider-root:hover > .css-eg0mwd-MuiSlider-thumb {
  display: flex;
}
.css-187mznn-MuiSlider-root:hover > .css-14pt78w-MuiSlider-rail {
  height: 5px;
}
.css-187mznn-MuiSlider-root:hover {
  height: 5px;
}

.css-eg0mwd-MuiSlider-thumb {
  display: none;
}

.css-12lvs33 .css-0 .page .pageList.css-0 {
  width: 732px;
  text-align: center;
  margin-left: 70px;
}

.pageList {
  width: 933px;
  text-align: center;
  margin-left: 70px;
}

.pageList > ul {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  align-items: center;
  padding: 0;
}

.pageList > ul li {
  list-style: none;
  display: inline-block;
  width: 20px;
  margin: 0 auto;
}

/* Card */
.cardContract {
  display: inline-block;
  width: 300px;
  opacity: 1;
  background-color: #2c3352;
  color: white;
  border-radius: 1rem;
}

.cardContract:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cardBottom {
  display: flex;
  flexdirection: column;
}

.cardContent {
  flex: 1 0 auto;
}

.cardTitle {
  color: #768fb5;
}

.cardETH {
  fontweight: 600;
  color: #18c99b;
}

.navSpan .react-reveal {
  display: inline;
}

.ListContainer {
  width: 100%;
  margin: auto;
  padding-bottom: 0px;
}

.CoverArt :hover {
  transform: scale(1.01);
  transition: all 0.3s ease-out;
  color: #ffffff;
  opacity: 75%;
}

@media screen and (max-width: 960px) {
  .CoverArt {
    align-items: center;
    width: 100%;
  }
  .TList {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .CoverArt {
    align-items: center;
    width: 100%;
  }
  .TList {
    width: auto;
  }
}

.TList {
  margin-left: 50px;
  display: inline-block;
}
.CoverArt {
  width: 600px;
  height: 600px;
  display: inline;
}

.LikeButtonIcon {
  background-color: #dada;
  border-radius: 50%;
  padding: 3px;
  color: #fff;
}
