:root {
  /* --upload-font-size: 1.7vw;
  --upload-font-family: SpoqaHanSansNeo-Regular;
  --btn-border-color: #dadada;
  --btn-size: 1.4vw;
  --btn-border-radius: 10px;
  --btn-bg-color: white; */
}

button[role='tab'] {
  color: #fff;
}

button[role='tab']:hover {
  color: #ffbbec;
}

button[disabled] {
  color: #ffbbec;
}

/* @keyframes navbar {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.streamingNavbar:hover ~ .nftNavbar {
  animation: navbar 1 1s forwards;
}

.streamingNavbar:hover ~ .nftNavbar {
  animation: navbar 1 1s forwards;
  display: block;
}  */
